<div class="collection-container">
  {% assign collection = include.collection %}
  {% for item in collection %}
    <div class="collection-item">
      {% if item.source %}
      <a href="{{ item.source }}">
      {% else %}
      <a href="{{ item.image }}">
      {% endif %}
        <img src="{{ item.image }}" alt="{% if item.title %}{{ item.title }}{% else %}Image{% endif %}">
        {% if item.title or item.description %}
        <div class="overlay">
          {% if item.title %}
            <p><b>{{ item.title }}</b></p>
          {% endif %}
          {% if item.description %}
            <p>{{ item.description }}</p>
          {% endif %}
        </div>
        {% endif %}
      </a>
    </div>
  {% endfor %}
</div>

<script>
  // Liquid variable to JavaScript
  const random = {{ include.randomize | default: "false" | json }};

  // Fisher-Yates shuffle function
  function shuffle(array) {
    for (let i = array.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [array[i], array[j]] = [array[j], array[i]]; // Swap elements
    }
  }

  // Only randomize if `randomize` is true
  document.addEventListener("DOMContentLoaded", function() {
    if (random) {
      const container = document.querySelector('.collection-container');
      if (container) { // Check if the container exists
        const items = Array.from(container.children);
        
        // Shuffle items array
        shuffle(items);
        
        // Clear container and re-append items in shuffled order
        container.innerHTML = '';
        items.forEach(item => container.appendChild(item));
      }
    }
  });
</script>
