@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Emoji:wght@300..700&display=swap');

$u: 1ch;
$b: 0.2ch;
$fg: black;
$sfg: dimgrey;
$bg: white;
$sbg: lightgrey;
$sw: 0.3ch;
$tt: 0.1s;

* { box-sizing: border-box; }
html { background: $bg; }

@media (prefers-color-scheme: dark) {
  html, body { background: $fg; }
  main, footer, dialog {
    background: $bg;
    filter: invert(1) hue-rotate(180deg);
    img {
      filter: invert(1) hue-rotate(180deg);
      &.ioda { filter: invert(0); }
    }
  }
}

body {
  font-family: "JetBrains Mono", "Noto Emoji", monospace;
  line-height: 1.4;
  width: 100%;
  max-width: calc(min(80ch, round(down, 100%, 1ch)));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a { text-decoration: none; &:hover { text-decoration: underline; } }

h1 { font-size: 3rem; }
h2 { font-size: 2.12rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.06rem; }
h5 { font-size: 0.75rem; }
h6 { font-size: 0.53rem; }
h1, h2, h3, h4, h5, h6 { margin-bottom: $u; }
h2, h3, h4, h5, h6 { margin-top: $u * 2; }
p, li { margin: $u 0; word-break: break-word; hyphens: auto; }

blockquote { border-left: $b solid $fg; padding: $u; margin: $u * 2 0; p { margin: 0 $u; } }

img { max-width: 100%; max-height: 60ch; display: block; object-fit: contain; margin: 4ch auto; }

img + em { display: block; margin: -2ch auto 4ch; text-align: center; font-style: normal; color: $sfg; }

main { flex: 1; padding: $u; }
footer { flex-shrink: 0; padding: 0 $u $u; }

hr { border: none; border-top: $b solid $fg; margin: 4ch auto; max-width: 80ch; }

.task-list-item { input[type="checkbox"] { display: none; } &:has(> input:checked) { text-decoration: line-through; } }
a.reversefootnote { font-family: monospace; font-style: normal; }

code, pre, kbd { font-family: inherit; }
code { background: $sbg; }

kbd {
  background: $sbg;
  border: $b solid $fg;
  padding: 0 0.25ch;
  box-shadow: 0 $sw 0 $fg;
}

.highlighter-rouge code { border: $b solid $fg; display: block; overflow-x: auto; padding: $u; }
pre { overflow-x: auto; }

table {
  display: block;
  overflow-x: auto;
  overflow-y: clip;
  border-collapse: collapse;
  th, td { border: $b solid $fg; padding: $u; }
}

@media print {
  footer { display: none; }
  html { font-size: 11pt; }
}
