// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);
    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: white; }

html { height: 100%; }

body {
  color: black;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 2rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: black;
  background: lightgrey;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  padding: 1rem;
}

blockquote {
  border-left: thin solid black;
  padding: 1rem;
  margin: 0;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

// Define variables for colors
$note-color: #3498db;       // Blue
$tip-color: #2ecc71;        // Green
$important-color: #e74c3c;  // Red
$warning-color: #f39c12;    // Yellow
$caution-color: #9b59b6;    // Purple

// Define a mixin to apply the color based on the type of note
@mixin note-color($type) {
  @if $type == 'NOTE' {
    background-color: $note-color;
  } @else if $type == 'TIP' {
    background-color: $tip-color;
  } @else if $type == 'IMPORTANT' {
    background-color: $important-color;
  } @else if $type == 'WARNING' {
    background-color: $warning-color;
  } @else if $type == 'CAUTION' {
    background-color: $caution-color;
  }
}

// Define styles for each type of note
.note, .tip, .important, .warning, .caution {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.note {
  @include note-color('NOTE'); // Apply the color for NOTE type
}

.tip {
  @include note-color('TIP'); // Apply the color for TIP type
}

.important {
  @include note-color('IMPORTANT'); // Apply the color for IMPORTANT type
}

.warning {
  @include note-color('WARNING'); // Apply the color for WARNING type
}

.caution {
  @include note-color('CAUTION'); // Apply the color for CAUTION type
}
