// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  // filter: invert(1);
  // img {
  //   filter: invert(1);
  //   &.ioda {
  //     filter: invert(0);
  //   }
  // }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: white; }

html { height: 100%; }

body {
  color: black;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 2rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
  flex: 1; /* Make the content section flexible to expand and push the footer to the bottom */
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: black;
  background: lightgrey;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  padding: 1rem;
}

blockquote {
  border-left: thin solid black;
  padding: 1rem;
  margin: 0;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: blue;
  &:hover {
    text-decoration: underline;
  }
}

.footer {
  flex-shrink: 0; /* Prevent the footer from shrinking */
  margin-top: auto; /* Push the footer to the bottom of the flex container */
  padding: 20px;
  text-align: center;
}